<div id="main-chat">
   <div class="mc-options">
      <div class="chopt-button person-counseling-adviser-button">
         <img class="img-person-counseling-adviser"  src="{{ imgRobot }}" alt="image assistant" />
      </div>

      <div class="full-conversation-button chopt-button">
         <img class="img-full-conversation" src="{{ imgConversation }}" />
      </div>

       <div class="minimize-chat-button chopt-button">
         <img class="img-close" src="{{ imgClose }}" />
      </div>
   </div>

   <div class="mc-conversation">
      <div class="message-bot"></div>
      <div class="message-user"></div>
   </div>

   <div class="mc-text-entry">
      <div class="text-entry" contenteditable="true"></div>
      <div class="send-text-entry-button">Enviar</div>
   </div>
</div>
